$btn-bg: #e76f51;
$btn-hover: #e76f51;
$shadow: 0 4px 12px rgba(0, 0, 0, 0.25);

.back-to-top {
  position: fixed;
  right: 70px;
  bottom: 24px;
  width: 34px;
  height: 34px;
  border-radius: 50%;
  border: none;
 background: var(--color-accent-main);
  color: #000000;
  font-size: 22px;
  font-weight: 900;
  cursor: pointer;
  box-shadow: $shadow;
  display: flex !important;
  align-items: center;
  justify-content: center;
  z-index: 50;
  transition: 0.2s ease;
  opacity: 0.9;
     backdrop-filter: blur(1px) brightness(0.95);
    box-shadow: 
      inset 0 -4px 15px 5px hsl(205deg 70% 90% / 0.3),
      inset 0 -2px 5px hsl(205deg 70% 90% / 0.15),
      inset 0 -1px 1px hsl(205deg 70% 90% / 0.4),
      inset 0 1px 2px hsl(205deg 70% 90% / 0.3);
    background: hsl(205deg 0% 20% / 0.3);

  &:hover {
    background: $btn-hover;
    transform: translateY(-3px) scale(1.05);
    opacity: 1;
  }
}
@media only screen and (max-width: 700px){
  .back-to-top{
    right: 12px !important;
  bottom: 24px;
 width: 33px;
 height: 33px;
 font-size: 12px !important;
}
}
