/* author: https://codepen.io/wouterXD/pen/bGdgGJv
Wouter */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


svg {
  width: 100%;
  height: 0px;
  
  display: block;
}

footer {
  width: 100vw;
  bottom: 0px;
  position: relative;
  left: 0;
  top: 0;
  display: flex;
  align-items: flex-end;
  padding-bottom: 3.5rem;
  justify-content: center;
  overflow: hidden;

  width: 100vw;
  height: 270px;
  bottom: -400px;
  
  filter: url("#goo");
}
.desc{
  margin-top: 10px;
  font-size: 18px;
}
.flex{
  width: 100%;
}
footer .flex {
  z-index: 2;
  display: flex;
  justify-content:space-around;
  align-items: center;
  color: white;
  font-family: "Ubuntu", sans-serif;
  font-weight: lighter;
  font-size: calc(2vmin + 8px);

}
.footer-sub{
 margin-left: 10px;
  font-size: 16px;
 
}
.footer-info p{
  font-size: 16px;

}
.footer-title{
  font-size: 17px;
  margin-left: 10px;
}
strong{
  font-weight: 700;
  color: #FFA036;
  text-shadow: 0 0 15px rgba(255, 160, 54, 0.4);
}
footer .flex span {
  font-weight: bold;
  color: #FFA036;
  text-shadow: 0 0 15px rgba(255, 160, 54, 0.4);
  font-size: 16px;
  
}
footer::after {
  content: "";
  position: absolute;
  bottom: -6px;
    left: 0;
  width: 100%;
  height: 200px;
  clip-path: url("#wave");
  background-color: #28323B;
  // background-color: #ffffff;
}
@media only screen and (max-width: 700px) {
  footer::after {
    
    height: 160px;
    
  }
  .footer-sub{
  margin-left: 5px;
  font-size: 10px;
  margin-right: 5px;
 
}
.footer-info p{
  font-size: 10px;

}
.footer-title{
  font-size: 10px;
   margin-left: 5px;
   margin-right: 5px;
}
footer .flex span{
  font-size: 11px;
   margin-left: 5px;
}
footer{
   padding-bottom: 2rem;
   
}
.qr{
  width: 32% !important;
}
.picqr{
  height: 150px !important;
}
}
footer .ball {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: #28323B;
  position: absolute;
  // top: 20px;
  animation: up 5s cubic-bezier(0.18, 0.89, 0.32, 1.28) infinite;
}
@media only screen and (max-width: 700px) {
  footer .ball {
    animation: up-small 5s cubic-bezier(0.18, 0.89, 0.32, 1.28) infinite;
  }
  .desc{
    font-size: 12px;
  }
}

@keyframes up {
  0% {
    bottom: 0px;
    width: 100px;
    height: 100px;
  }
  50% {
    bottom: 200px;
  }
  100% {
    bottom: 0px;
    width: 0px;
    height: 0px;
  }
}
@keyframes up-small {
  0% {
    bottom: 0px;
    width: 100px;
    height: 100px;
  }
  50% {
    bottom: 150px;
  }
  100% {
    bottom: 0px;
    width: 0px;
    height: 0px;
  }
}
   .picqr{
              width: 100% !important;
        display: flex;
        // align-items: center;
        justify-content:space-around;
        height: 250px;
  
        
        background-color: #28323B;
    
   }
 .qr{
 width: auto;
        max-width: 10% ;
     margin-left: 4%;
        object-fit: contain;
    height: max-content;
    margin-top: 35px;
   
}
 .ftpicture{
               max-width:30% !important;
   
       margin-right: 10%;
        object-fit: cover;
        height: max-content;
        max-height: 310px;
        padding: 10px;
        margin-top: 24px;
   }
.chacuano{
  background-color: #28323B;
    font-weight: 100;
  color: #7a7978;
  text-shadow: 0 0 15px rgba(255, 160, 54, 0.4);
  font-size: 15px;
  padding-left: 9%;
  padding-bottom: 15px;
}