$primary: #14213d;
$shadow: 0 4px 12px rgba(0, 0, 0, 0.1);

.gallery {
  padding: 100px 20px;
  background: var(--color-bg-secondary);

  .container {
    max-width: 1100px;
    margin: 0 auto;
  }

  .gallery-title {
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 50px;
    color: var(--color-text-primary);
  }

  .gallery-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    gap: 20px;
  }

  .gallery-item {
    overflow: hidden;
    border-radius: 16px;
    box-shadow: $shadow;
    height: 230px;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      transition: 0.4s ease;
    }

    &:hover img {
      transform: scale(1.3);
    }
  }

  .wide {
    grid-column: span 2;

    @media (max-width: 768px) {
      grid-column: span 1;
    }
  }
}
.button{
  margin-top: 20px;
  margin-left: 70px;
  
}
  .gallery-item:hover img {
    transform: scale(1.3) !important;
  }