$primary-color: #e76f51;
$primary-hover: #d65f45;
$accent-color: #e9d8a6;
$overlay: rgba(20, 33, 61, 0.6);

.hero {
  width: 100%;
  height: 100vh;
  background: linear-gradient($overlay, $overlay),
    url("../assets/images/anh-sach.jpg");
  background-color: black;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  text-align: center;
  padding: 0 20px;
  ;

  

  .hero-content {
    max-width: 900px;
    animation: fadeIn 1.2s ease-in-out;
    margin-bottom: 30px;
  margin-left: 15px;
  }

  .hero-title {
    font-size: 40px;
    font-weight: 900;
    margin-bottom: 20px;
    line-height: 1.3;
  }

  .hero-desc {
    font-size: 20px;
    opacity: 0.9;
    margin-bottom: 16px;
    line-height: 1.6;
  }

  .hero-slogan {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 32px;
    color: $accent-color;
  }

  .hero-btn {
    background: $primary-color;
    border: none;
    padding: 14px 32px;
    font-size: 18px;
    color: white;
    cursor: pointer;
    border-radius: 8px;
    transition: 0.25s;
    z-index: 9999;

    &:hover {
      background: $primary-hover;
      transform: scale(1.05);
    }
  }
}
 @media (max-width: 700px) {
    .hero-content {
    max-width: 900px;
    animation: fadeIn 1.2s ease-in-out;
    margin-bottom: 30px;
    margin-right: 30px !important;
  }

 .hero-title {
    font-size: 27px !important;
    font-weight: 100;

  }

  .hero-desc {
    font-size: 15px !important;
    opacity: 0.9;
    margin-bottom: 16px;
    line-height: 1.6;
  }

  .hero-slogan {
    font-size: 17px !important;
    font-weight: 600;
    margin-bottom: 32px;
    color: $accent-color;
  }
  }
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
/* Copyright (c) 2024 by Anish.S (https://codepen.io/Anish-S/pen/QWKKNRg) */


a {
    position: absolute;
    top: 50%;
    right: 40%;
    padding: 10px 30px;
    margin: 0 15px;
    color:  $primary-hover;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 20px;
    overflow: hidden;
    transition: 0.5s;
    -webkit-box-reflect: below 1px linear-gradient(transparent, #0003);
    border-radius: 10px;
    background-color: rgba(214, 95, 69, 0.2);
    z-index: 3;
;
}



a:hover {
    color: #92301a;
    background:  $primary-hover;
    box-shadow: 0 0 10px  $primary-hover, 0 0 40px  $primary-hover, 0 0 80px  $primary-hover;
    transition-delay: 0s;
    border-radius: 10px;
}


a span {
    position: absolute;
    display: block;
}




a span:nth-child(1) {
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent, #2196f3);
}



a:hover span:nth-child(1) {
    left: 100%;
    transition: 1s;
}


a span:nth-child(3) {
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg, transparent, #2196f3);
}

a:hover span:nth-child(3) {
    right: 100%;
    transition: 1s;
    transition-delay: 0.5s;
}



a span:nth-child(2) {
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg, transparent, #2196f3);
}

a:hover span:nth-child(2) {
    top: 100%;
    transition: 1s;
    transition-delay: 0.25s;
}



a span:nth-child(4) {
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg, transparent, #2196f3);
}

a:hover span:nth-child(4) {
    bottom: 100%;
    transition: 1s;
    transition-delay: 0.75s;
}
