/* author: https://codepen.io/GreenSock/pen/YzbPYMx
GSAP
 */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  .wrapper,
  .contentt {
    position: relative;
    width: 100%;
    z-index: 1;
  }
  .contentt::-webkit-scrollbar {
    display: none;
}  
.contentt {
    overflow-x: hidden;
   
  }
  body{
    overflow-x: hidden;
   
  
  }
  .contentt .section {
    width: 100%;
    height: 100vh;
  }
  
  .contentt .section.hero {
 
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    
  }
  
  .image-container {
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;
    perspective: 500px;
    overflow: hidden;
  }
  
  .image-container img {
    width: 107%;
    height: 107%;
    object-fit: cover;
    object-position: center center;
  }
 