 .picqr{
              width: 100%;
        display: flex;
        align-items: center;
        justify-content:space-around;
        height: 310px;
        gap: 6px;
        padding: 10px;
        background-color: #28323B;
    
   }
 .qr{
 width: auto;
        max-width: 25%;
        height: 100%;
        object-fit: contain;
   
   
}
 .ftpicture{
               max-width:15%;
        width: 100%;
        height: 100%;
        object-fit: cover;
        height: max-content;
        max-height: 310px;
        padding: 10px;
   }