:root{
  --background-dark: #2d3548;
  --text-light: rgba(255,255,255,0.6);
  --text-lighter: rgba(255,255,255,0.9);
  --spacing-s: 8px;
  --spacing-m: 16px;
  --spacing-l: 24px;
  --spacing-xl: 32px;
  --spacing-xxl: 64px;
  --width-container: 1200px;
}

.hero-section{
  align-items: flex-start;
  background-image: linear-gradient(15deg, #0f4667 0%, #2a6973 150%);
  display: flex;
  min-height: 100%;
  justify-content: center;
  padding: var(--spacing-xxl) var(--spacing-l);
}
.card__sender{
  font-size: 0.9rem;
  font-weight: 400;
  margin-top: var(--spacing-s);
  color: #ffffff;
}
.card__timestamp{

  color: #dddddd;
}
.card-grid{
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-column-gap: var(--spacing-l);
  grid-row-gap: var(--spacing-l);
  max-width: var(--width-container);
  width: 100%;
}

@media(min-width: 540px){
  .card-grid{
    grid-template-columns: repeat(2, 1fr); 
  }
}

@media(min-width: 960px){
  .card-grid{
    grid-template-columns: repeat(3, 1fr); 
  }
}

.cardd{
  list-style: none;
  position: relative;
}

.cardd:before{
  content: '';
  display: block;
  padding-bottom: 150%;
  width: 100%;
}

.card__background{
  background-size: cover;
  background-position: center;
  border-radius: var(--spacing-l);
  bottom: 0;
  filter: brightness(0.75) saturate(1.2) contrast(0.85);
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transform-origin: center;
  transform: scale(1) translateZ(0);
  transition: 
    filter 200ms linear,
    transform 200ms linear;
}

.cardd:hover .card__background{
  transform: scale(1.05) translateZ(0);
}

.card-grid:hover > .cardd:not(:hover) .card__background{
  filter: brightness(0.5) saturate(0) contrast(1.2) blur(20px);
}
.card-grid:hover > .cardd:not(:hover)  .card__content{
  opacity: 0.2;
  transition: opacity 200ms linear;
}
.card__content{
  left: 0;
  padding: var(--spacing-l);
  position: absolute;
  top: 0;
  
}

.card__category{
  color: #ffffff;
  font-size: 1.3rem;
  font-weight: 900;
  margin-bottom: var(--spacing-s);
  text-transform: uppercase;
}

.card__heading{
  font-size: 1.1rem;
  font-weight: 500;
  margin-bottom: var(--spacing-m);
  line-height: 1.4;
  flex-grow: 1; 
  overflow: hidden;
 
  max-height: 380px ; /* Chiều cao tối đa cho phần chữ (Huynh có thể điều chỉnh 140px, 160px...) */
  overflow-y: auto; /* Bật chế độ cuộn dọc khi nội dung vượt quá max-height */
  padding-right: 5px;
  color: #faf8f8;
  overscroll-behavior-y: contain !important;
}
/* Tùy chỉnh thanh cuộn cho các Card (Chỉ hoạt động trên Chrome/Edge/Safari) */
.card__heading::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}

.card__heading::-webkit-scrollbar-thumb {
    background-color: rgba(247, 178, 67, 0.7); /* Màu vàng cam mờ */
    border-radius: 10px;
}

.card__heading::-webkit-scrollbar-track {
    background: transparent;
}
/* src/component/TributeCardGrid.css */
@media (max-width: 700px) {
  .card__heading{
    max-height: 340px 
  }
}